{
  "log": {
    "_recordingName": "core-qnFetchNFTs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "88bb2055f48cb0c57f774347de10942b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"qn_fetchNFTs\",\"params\":[{\"wallet\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"perPage\":2}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro/e868a8dce35b090dd355be9cba7632fb47b96e2f/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 652,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":{\"owner\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"assets\":[{\"collectionName\":\"Mokens\",\"collectionTokenId\":\"330\",\"collectionAddress\":\"0xc1eab49cf9d2e23e43bcf23b36b2be14fc2f8838\",\"name\":\"\",\"description\":\"\",\"imageUrl\":\"\",\"traits\":[],\"chain\":\"ETH\",\"network\":\"MAINNET\"},{\"collectionName\":\"ENS: Ethereum Name Service\",\"collectionTokenId\":\"50685890871471191256342199015362929537282628462001704949203871531598631920212\",\"collectionAddress\":\"0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85\",\"name\":\"\",\"description\":\"\",\"imageUrl\":\"\",\"traits\":[],\"chain\":\"ETH\",\"network\":\"MAINNET\"}],\"totalPages\":24,\"totalItems\":48,\"pageNumber\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "95ef0e23"
            },
            {
              "name": "x-node-id",
              "value": "08777362-575c-4584-aa42-4f09eb19af92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 352,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
