{
  "log": {
    "_recordingName": "query-getTokenBalancesByWalletENS-empty",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "29056f7da3dac3b853a51bb9cccc4e93",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk",
              "value": "js-sdk"
            },
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk-version",
              "value": "1.0.0-beta.1"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"EthMainnetBalancesByWalletENS\",\"query\":\"query EthMainnetBalancesByWalletENS($ensName: String!, $first: Int, $before: String, $after: String) {\\n  ethereum {\\n    ...GetBalancesByWalletENSFragment\\n    __typename\\n  }\\n}\\nfragment TokenBalanceNode on WalletTokenBalance {\\n  __typename\\n  totalBalance\\n  contract {\\n    address\\n    decimals\\n    name\\n    symbol\\n    __typename\\n  }\\n}\\nfragment Pagination on PageInfo {\\n  endCursor\\n  hasNextPage\\n  hasPreviousPage\\n  startCursor\\n  __typename\\n}\\nfragment GetBalancesByWalletENSFragment on EVMSchemaType {\\n  walletByENS(ensName: $ensName) {\\n    __typename\\n    address\\n    ensName\\n    tokenBalances(first: $first, before: $before, after: $after) {\\n      edges {\\n        node {\\n          ...TokenBalanceNode\\n          __typename\\n        }\\n        __typename\\n      }\\n      pageInfo {\\n        ...Pagination\\n        __typename\\n      }\\n      __typename\\n    }\\n  }\\n  __typename\\n}\",\"variables\":{\"ensName\":\"sdjkfhskdfhkshfksdjdskf.eth\",\"first\":2}}"
          },
          "queryString": [],
          "url": "https://api.quicknode.com/graphql"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json",
            "size": 130,
            "text": "[\"H4sIAAAAAAAA/w==\",\"qlZKSSxJVLKqVkotyUgtSi3NBbHLE3NyUkucKl39gpWs8kpzcnSU4uNLKgtS8xJzU5WslFzDfIOTM1JzE0MqC1KVamtrAQA=\",\"AAD//w==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-rpmlimit",
              "value": "230"
            },
            {
              "name": "x-ratelimit-rpmremaining",
              "value": "87"
            },
            {
              "name": "x-ratelimit-rpmreset",
              "value": "1687387264"
            },
            {
              "name": "x-ratelimit-rpslimit",
              "value": "20"
            },
            {
              "name": "x-ratelimit-rpsremaining",
              "value": "1"
            },
            {
              "name": "x-ratelimit-rpsreset",
              "value": "1687387242"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 128,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
