{
  "log": {
    "_recordingName": "core-client-viem-basic-function",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ac523fb1efcd061f36a0fcbba34041a8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"eth_blockNumber\"}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 45,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":\"0x16aebfc\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-node-id",
              "value": "ethereum_mainnet_iad"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 154,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
