{
  "log": {
    "_recordingName": "core-qnGetWalletTokenTransactions-pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7edaa5c738ac8bae628c69eb18a730b2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"qn_getWalletTokenTransactions\",\"params\":[{\"address\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"contract\":\"0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2\",\"perPage\":1,\"page\":1}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 917,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"address\":\"0xd10e24685c7cdd3cd3baaa86b09c92be28c834b6\",\"ensName\":null,\"paginatedItems\":[{\"timestamp\":\"2025-08-30T20:19:35.000Z\",\"blockNumber\":\"23256301\",\"transactionHash\":\"0x1b54d38dc4ea15baec0e792ae7ef2f4862269717e9de4fb7cd5a48526730032b\",\"sentTokenContractAddress\":\"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\",\"toAddress\":\"0xd10e24685c7cdd3cd3baaa86b09c92be28c834b6\",\"receivedTokenContractAddress\":null,\"fromAddress\":\"0xfdb30018891e5b03397d9f4ce8d8ec8e12150621\",\"logIndex\":325,\"type\":\"TRANSFER\",\"sentAmount\":\"100000000000\",\"decimalSentAmount\":\"0.0000001\",\"receivedAmount\":\"0\",\"decimalReceivedAmount\":\"0\"}],\"token\":{\"address\":\"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\",\"genesisBlock\":null,\"genesisTransaction\":null,\"name\":\"Wrapped Ether\",\"symbol\":\"WETH\",\"decimals\":\"18\",\"contractAddress\":\"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\"},\"totalPages\":9,\"totalItems\":9,\"pageNumber\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "27031137c48ca740-55b8367a9c1f640e"
            },
            {
              "name": "x-node-id",
              "value": "ethereum_mainnet_iad"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 277,
      },
      {
        "_id": "39dd9d4dc8ad92c5108d8d1c3ec8669b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "applicatio[...]
