{
  "log": {
    "_recordingName": "core-qnGetTokenMetadataBySymbol-pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "524219d2d0534ef315571de8bcc06b00",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"qn_getTokenMetadataBySymbol\",\"params\":[{\"symbol\":\"WETH\",\"page\":1,\"perPage\":1}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 261,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"tokens\":[{\"name\":\"Wrapped Ether\",\"symbol\":\"WETH\",\"contractAddress\":\"0x32d222e1f6386b3df7065d639870be0ef76d3599\",\"decimals\":\"18\",\"genesisBlock\":null,\"genesisTransaction\":null}],\"totalPages\":742,\"pageNumber\":1,\"totalItems\":742}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "27031137c48ca740-55b8367a9c1f640e"
            },
            {
              "name": "x-node-id",
              "value": "ethereum_mainnet_iad"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 253,
      },
      {
        "_id": "c26c8b86f9b960346b376d3471f5687f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "applicatio[...]
