{
  "log": {
    "_recordingName": "core-qnGetWalletTokenBalance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9f0bbd3d90eb60248f6e7791e9729bff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"qn_getWalletTokenBalance\",\"params\":[{\"wallet\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"perPage\":1}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 405,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":{\"address\":\"0xd10e24685c7cdd3cd3baaa86b09c92be28c834b6\",\"ensName\":null,\"result\":[{\"name\":\"APE/ETH\",\"symbol\":\"claim at [apepool.org]\",\"decimals\":\"6\",\"address\":\"0x009e9d89bfaaf0d539450e7b8908703011704993\",\"quantityIn\":\"3289000000\",\"quantityOut\":\"0\",\"totalBalance\":\"3289000000\"}],\"nativeTokenBalance\":\"41.409291790342283658\",\"totalItems\":120,\"totalPages\":120,\"pageNumber\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "27031137c48ca740-55b8367a9c1f640e"
            },
            {
              "name": "x-node-id",
              "value": "ethereum_mainnet_iad"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 292,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
