{
  "log": {
    "_recordingName": "query-getNFTEvents-base",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7aa5c4b358806468ea15f9a97832aa6c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk",
              "value": "js-sdk"
            },
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk-version",
              "value": "1.0.0-beta.1"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"EthereumMainnetEventsByNft\",\"query\":\"query EthereumMainnetEventsByNft($contractAddress: String!, $tokenId: String!, $filter: TokenEventsFilterInput, $before: String, $after: String, $first: Int) {\\n  ethereum {\\n    ...NftEventsFragment\\n    __typename\\n  }\\n}\\nfragment Pagination on PageInfo {\\n  endCursor\\n  hasNextPage\\n  hasPreviousPage\\n  startCursor\\n  __typename\\n}\\nfragment TokenEventInfo on TokenEvent {\\n  __typename\\n  blockNumber\\n  fromAddress\\n  timestamp\\n  toAddress\\n  transactionHash\\n  transferIndex\\n  type\\n  ... on TokenBurnEvent {\\n    tokenId\\n    tokenQuantity\\n    __typename\\n  }\\n  ... on TokenTransferEvent {\\n    tokenId\\n    contractAddress\\n    tokenQuantity\\n    __typename\\n  }\\n  ... on TokenMintEvent {\\n    tokenQuantity\\n    __typename\\n  }\\n  ... on TokenSaleEvent {\\n    marketplace\\n    receivedTokenContractAddress\\n    receivedTokenId\\n    sentTokenId\\n    __typename\\n  }\\n}\\nfragment NftEventsFragment on EVMSchemaType {\\n  nft(contractAddress: $contractAddress, tokenId: $tokenId) {\\n    __typename\\n    contractAddress\\n    tokenId\\n    tokenEvents(filter: $filter, before: $before, after: $after, first: $first) {\\n      pageInfo {\\n        ...Pagination\\n        __typename\\n      }\\n      edges {\\n        node {\\n          ...TokenEventInfo\\n          __typename\\n        }\\n        __typename\\n      }\\n      __typename\\n    }\\n  }\\n  __typename\\n}\",\"variables\":{\"contractAddress\":\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\",\"first\":2,\"tokenId\":\"1263\"}}"
          },
          "queryString": [],
          "url": "https://api.quicknode.com/graphql"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json",
            "size": 792,
            "text": "[\"H4sIAAAAAAAA/w==\",\"rJPNTvtGFMXf5a79r+58z3iHUGizIOLDYkFVoeuZ6ySAbWRPaBDKu1cORQUCLVXrjT0j+/ie8zvzDIkyQfkMnFc88KadnrsmT7ebm/z0wB21DCXMLo6dFIuTCgqIfZcHivkopYHHEUrArRRoIyJFlwhJaYXE1jrvglCBvZIKHTERFJD7O+7mCUohrfpzOXvkLo/TXx9oyfOu6fdDdel4M4z9ACVU8rqN8grPZdjU7dVt+vn+sb7tt1DAisYFb/MZLRnKhu5H3u+dDfy47jfju/0x05D/SfR3KN67P3sdalcApyWPUP76DF2f+CCoarJT\",\"DdSNDQ97W1BAfd/Hu8WmrXmAUijhvbNYQDP07dsQBTYkovCeIwWjtQjkjRCyCc4IYxonHCXP+xDXLY+Z2gcoQaIUPzD8wFChKE0otfoJEa/3Wb/VRyVrp9HYYIRW[...]
