{
  "log": {
    "_recordingName": "core-qnFetchNFTs-walletAndContracts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "18411133bbf9a616642255c5650d4631",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"qn_fetchNFTs\",\"params\":[{\"wallet\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"contracts\":[\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\"],\"omitFields\":[\"traits\"],\"perPage\":2}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro/e868a8dce35b090dd355be9cba7632fb47b96e2f/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 673,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"owner\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"assets\":[{\"collectionName\":\"Loopy Donuts\",\"collectionTokenId\":\"3972\",\"collectionAddress\":\"0x2106c00ac7da0a3430ae667879139e832307aeaa\",\"name\":\"Loopy Donut #3972\",\"description\":\"\",\"imageUrl\":\"\",\"chain\":\"ETH\",\"network\":\"MAINNET\"},{\"collectionName\":\"Loopy Donuts\",\"collectionTokenId\":\"9925\",\"collectionAddress\":\"0x2106c00ac7da0a3430ae667879139e832307aeaa\",\"name\":\"Loopy Donut #9925\",\"description\":\"\",\"imageUrl\":\"https://quicknode.mypinata.cloud/ipfs/QmSNmVFTJv6cG9M8ZRU8T9F4Kz9HHxmV85ssGP5W8ZsTPa/9925.png\",\"chain\":\"ETH\",\"network\":\"MAINNET\"}],\"totalPages\":2,\"totalItems\":3,\"pageNumber\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "95ef0e23"
            },
            {
              "name": "x-node-id",
              "value": "08777362-575c-4584-aa42-4f09eb19af92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 284,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
