{
  "log": {
    "_recordingName": "query-getNFTsByWalletAddress-empty",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8624e820c40e271d262c7a5b33e625af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk",
              "value": "js-sdk"
            },
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk-version",
              "value": "1.0.0-beta.1"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"EthMainnetWalletNFTsByAddress\",\"query\":\"query EthMainnetWalletNFTsByAddress($address: String!, $before: String, $after: String, $first: Int, $filter: WalletNFTsFilterInput) {\\n  ethereum {\\n    ...WalletByAddressFragment\\n    __typename\\n  }\\n}\\nfragment Pagination on PageInfo {\\n  endCursor\\n  hasNextPage\\n  hasPreviousPage\\n  startCursor\\n  __typename\\n}\\nfragment WalletNFTNode on WalletNFT {\\n  nft {\\n    __typename\\n    animationUrl\\n    collectionSlug\\n    contractAddress\\n    description\\n    externalUrl\\n    metadata\\n    name\\n    tokenId\\n  }\\n  __typename\\n}\\nfragment WalletByAddressFragment on EVMSchemaType {\\n  walletByAddress(address: $address) {\\n    __typename\\n    address\\n    ensName\\n    walletNFTs(before: $before, after: $after, first: $first, filter: $filter) {\\n      pageInfo {\\n        ...Pagination\\n        __typename\\n      }\\n      edges {\\n        node {\\n          ...WalletNFTNode\\n          __typename\\n        }\\n        __typename\\n      }\\n      __typename\\n    }\\n  }\\n  __typename\\n}\",\"variables\":{\"address\":\"0xce1e62f71bc7d7bb593ec2540e62c870dc7187bc\",\"first\":2}}"
          },
          "queryString": [],
          "url": "https://api.quicknode.com/graphql"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json",
            "size": 359,
            "text": "[\"H4sIAAAAAAAA/w==\",\"hJBdS8MwFIb/y7kO0kW3bIVd6FDxYqXDUkGRkY/TdqNNSpJuKyP/XVrdxUTwLjx5eT/OGRT3HOIzoK/QYtcM7yOva/QP/b1SFp0b0Hbr+xY1bxBieBv/gQC/CCA6SZzgjBZsIiRTTIjp4hYlnd5FOKNyziIl2WTOhAQCqF3y7VQYc4O+AvKTmTxlY1zLS3zRhRmbabXqrDMWYsjoeyNpHm3oohNNvlfP9UHsjV9vlksgUHGX4MmnvESIC147HFlq8bAznbviznPr/zM+Armenl6KBQKoSnQQf3ySv84zTFkZrVH6ndEQwi/VY75+lRU2POtbhBDCFwAAAP//\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-rpmlimit",
              "value": "230"
            },
            {
              "name": "x-ratelimit-rpmremaining",
              "value": "121"
            },
            {
              "name": "x-ratelimit-rpmreset",
              "value": "1687387264"
            },
            {
              "name": "x-ratelimit-rpslimit",
              "value": "20"
            },
            {
              "name": "x-ratelimit-rpsremaining",
              "value": "17"
            },
            {
              "name": "x-ratelimit-rpsreset",
              "value": "1687387240"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 295,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
