{
  "log": {
    "_recordingName": "solana-client-prepareSmartTransaction",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d29a8a03e7650c1d4c9f0dd702fa1079",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"method\":\"qn_estimatePriorityFees\",\"params\":{\"last_n_blocks\":100},\"id\":1,\"jsonrpc\":\"2.0\"}"
          },
          "queryString": [],
          "url": "https://alien-lingering-fire.solana-mainnet.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 713,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":{\"context\":{\"slot\":254923002},\"per_compute_unit\":{\"extreme\":1842896,\"high\":250050,\"low\":28315,\"medium\":77957,\"percentiles\":{\"10\":1580,\"100\":8121677495,\"15\":2935,\"20\":7021,\"25\":10714,\"30\":15000,\"35\":20000,\"40\":28315,\"45\":40000,\"5\":721,\"50\":50003,\"55\":71428,\"60\":77957,\"65\":105160,\"70\":150000,\"75\":210526,\"80\":250050,\"85\":493403,\"90\":779577,\"95\":1842896}},\"per_transaction\":{\"extreme\":3295320,\"high\":500000,\"low\":49216,\"medium\":110000,\"percentiles\":{\"10\":700,\"100\":8121677495,\"15\":3182,\"20\":10000,\"25\":15189,\"30\":23004,\"35\":35400,\"40\":49216,\"45\":67500,\"5\":0,\"50\":83683,\"55\":100000,\"60\":110000,\"65\":150000,\"70\":200000,\"75\":250000,\"80\":500000,\"85\":762300,\"90\":1021245,\"95\":3295320}}},\"id\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "bdc3c6b0fcc2f18f"
            },
            {
              "name": "x-node-id",
              "value": "solana_solana-mainnet_jfk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 694,
      },
      {
        "_id": "acbd44d2b59f8bb85098f4a9278b5d64",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "solana-client",
              "value": "js/0.0.0-development"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"method\":\"getLatestBlockhash\",\"jsonrpc\":\"2.0\",\"params\":[],\"id\":\"e6aa9c8c-0dd5-4e9a-a5af-78a7461c5c74\"}"
          },
          "queryString": [],
          "url": "https://alien-lingering-fire.solana-mainnet.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 226,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":{\"context\":{\"apiVersion\":\"1.17.25\",\"slot\":254922957},\"value\":{\"blockhash\":\"2acCVCzy5dPndawWVvTYDoHWqoe4dXo1srhWQ4W5btnb\",\"lastValidBlockHeight\":235430258}},\"id\":\"e6aa9c8c-0dd5-4e9a-a5af-78a7461c5c74\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "a92bc58d2be2e5b8"
            },
            {
              "name": "x-node-id",
              "value": "solana_solana-mainnet_jfk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 490,
      },
      {
        "_id": "dfde9d149401a9820697713ebf21561c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "solana-client",
              "value": "js/0.0.0-development"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"method\":\"simulateTransaction\",\"jsonrpc\":\"2.0\",\"params\":[\"AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAQABAoK0lB6R81kfRL1p2UGckZ+zqYxCrMvGrr6YPYFdNhWLAwZGb+UhFzL/7K26csOb57yM5bvF9xJrLEObOkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIBAAkDhTABAAAAAAABAAkDhTABAAAAAAAA\",{\"replaceRecentBlockhash\":true,\"sigVerify\":false,\"encoding\":\"base64\"}],\"id\":\"8b23ebb1-5a19-493d-a96e-c3348d502b3b\"}"
          },
          "queryString": [],
          "url": "https://alien-lingering-fire.solana-mainnet.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 221,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":{\"context\":{\"apiVersion\":\"1.17.22\",\"slot\":254928510},\"value\":{\"accounts\":null,\"err\":\"AccountNotFound\",\"logs\":[],\"returnData\":null,\"unitsConsumed\":0}},\"id\":\"8b23ebb1-5a19-493d-a96e-c3348d502b3b\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "6961bee99b20ac4a"
            },
            {
              "name": "x-node-id",
              "value": "solana_solana-mainnet_jfk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 221,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
