{
  "log": {
    "_recordingName": "solana-client-sendSmartTransaction",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9fe398be7487c66224555bd974d9708b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"method\":\"qn_estimatePriorityFees\",\"params\":{\"last_n_blocks\":10},\"id\":1,\"jsonrpc\":\"2.0\"}"
          },
          "queryString": [],
          "url": "https://alien-lingering-fire.solana-mainnet.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 720,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":{\"context\":{\"slot\":254810651},\"per_compute_unit\":{\"extreme\":1396328,\"high\":269696,\"low\":35714,\"medium\":100000,\"percentiles\":{\"10\":875,\"100\":231251300,\"15\":1505,\"20\":2193,\"25\":9545,\"30\":19759,\"35\":24687,\"40\":35714,\"45\":53287,\"5\":647,\"50\":71428,\"55\":100000,\"60\":100000,\"65\":138172,\"70\":168104,\"75\":214288,\"80\":269696,\"85\":432355,\"90\":688327,\"95\":1396328}},\"per_transaction\":{\"extreme\":3174711,\"high\":500000,\"low\":100000,\"medium\":154040,\"percentiles\":{\"10\":3333,\"100\":231251300,\"15\":16000,\"20\":25623,\"25\":46691,\"30\":71428,\"35\":86838,\"40\":100000,\"45\":100000,\"5\":736,\"50\":100000,\"55\":140000,\"60\":154040,\"65\":211012,\"70\":269483,\"75\":351550,\"80\":500000,\"85\":826943,\"90\":1053319,\"95\":3174711}}},\"id\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "bdc3c6b0fcc2f18f"
            },
            {
              "name": "x-node-id",
              "value": "solana_solana-mainnet_jfk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 520,
      },
      {
        "_id": "acbd44d2b59f8bb85098f4a9278b5d64",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "solana-client",
              "value": "js/0.0.0-development"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"method\":\"getLatestBlockhash\",\"jsonrpc\":\"2.0\",\"params\":[],\"id\":\"743e324e-863f-42c9-8e37-64d4f7bd053b\"}"
          },
          "queryString": [],
          "url": "https://alien-lingering-fire.solana-mainnet.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 225,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":{\"context\":{\"apiVersion\":\"1.17.25\",\"slot\":254810612},\"value\":{\"blockhash\":\"81JmjjAtNSg7bFFigtrr19AUYArC9Pa2dKyCkYcZ1hX\",\"lastValidBlockHeight\":235321655}},\"id\":\"743e324e-863f-42c9-8e37-64d4f7bd053b\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "a92bc58d2be2e5b8"
            },
            {
              "name": "x-node-id",
              "value": "solana_solana-mainnet_jfk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 416,
      },
      {
        "_id": "d40204c9d7fa8c75b674051536586596",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "solana-client",
              "value": "js/0.0.0-development"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"method\":\"simulateTransaction\",\"jsonrpc\":\"2.0\",\"params\":[\"AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAQABAoQRxzJRFnXCoe6MBldnTlUf1q55/eUmCQ4F8R2+2mMoAwZGb+UhFzL/7K26csOb57yM5bvF9xJrLEObOkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIBAAUCwFwVAAEACQOghgEAAAAAAAA=\",{\"replaceRecentBlockhash\":true,\"sigVerify\":false,\"encoding\":\"base64\"}],\"id\":\"143a48fb-65e9-4f38-bce2-59989bf0ffdb\"}"
          },
          "queryString": [],
          "url": "https://alien-lingering-fire.solana-mainnet.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 221,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":{\"context\":{\"apiVersion\":\"1.17.24\",\"slot\":254810875},\"value\":{\"accounts\":null,\"err\":\"AccountNotFound\",\"logs\":[],\"returnData\":null,\"unitsConsumed\":0}},\"id\":\"143a48fb-65e9-4f38-bce2-59989bf0ffdb\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "7df076da70980964"
            },
            {
              "name": "x-node-id",
              "value": "solana_solana-mainnet_jfk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 457,
      },
      {
        "_id": "9ab017fa768bd6818f7e168be8f93067",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "solana-client",
              "value": "js/0.0.0-development"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"method\":\"sendTransaction\",\"jsonrpc\":\"2.0\",\"params\":[\"AR+O2oVw/dL/ScU6fkVGNhwzD5895HOiamWuPv7YZVw1dpPbGhJhPt/1QfJCrzua0C2TkVkHTPkP8wTS3mxgqg8BAAEChBHHMlEWdcKh7owGV2dOVR/Wrnn95SYJDgXxHb7aYygDBkZv5SEXMv/srbpyw5vnvIzlu8X3EmssQ5s6QAAAAAHLaYBE/pnlByh2qLtexxJv4xuqEN/9aSFyVZcWLYn+AQEACQOghgEAAAAAAA==\",{\"encoding\":\"base64\",\"maxRetries\":0,\"skipPreflight\":true}],\"id\":\"7070c252-e2fd-45a1-82a0-73c3c2dead4d\"}"
          },
          "queryString": [],
          "url": "https://alien-lingering-fire.solana-mainnet.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 161,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":\"dbW8AT3NwaUxEwM9VND16EJeeD8ecusCm3rD8GgVYZdrnFd1WzSydTQDMdzLLYcPJ1nhUFpGwtsZRjAyNruowmp\",\"id\":\"7070c252-e2fd-45a1-82a0-73c3c2dead4d\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "b7ab2b610219cdc4"
            },
            {
              "name": "x-node-id",
              "value": "solana_solana-mainnet_jfk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
