{
  "log": {
    "_recordingName": "core-qnFetchNFTsByCollection-base",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "69eaa1f9c49e290ffce501d51caa8bf4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"qn_fetchNFTsByCollection\",\"params\":[{\"collection\":\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\",\"perPage\":1}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 730,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":{\"collection\":\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\",\"tokens\":[{\"collectionName\":\"Loopy Donuts\",\"collectionAddress\":\"0x2106c00ac7da0a3430ae667879139e832307aeaa\",\"collectionTokenId\":\"0\",\"description\":\"\",\"name\":\"Loopy Donut #0\",\"imageUrl\":\"https://quicknode.mypinata.cloud/ipfs/QmSNmVFTJv6cG9M8ZRU8T9F4Kz9HHxmV85ssGP5W8ZsTPa/0.png\",\"traits\":[{\"value\":\"Pink\",\"trait_type\":\"Background\"},{\"value\":\"Donut Body\",\"trait_type\":\"Base\"},{\"value\":\"Caramel\",\"trait_type\":\"Glaze\"},{\"value\":\"Liberty\",\"trait_type\":\"Headgear\"},{\"value\":\"Pretty Please\",\"trait_type\":\"Eyes\"},{\"value\":\"Arrow\",\"trait_type\":\"Accessory\"}],\"chain\":\"ETH\",\"network\":\"MAINNET\"}],\"totalPages\":10000,\"pageNumber\":1,\"totalItems\":10000}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "95ef0e23"
            },
            {
              "name": "x-node-id",
              "value": "08777362-575c-4584-aa42-4f09eb19af92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 178,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
