{
  "log": {
    "_recordingName": "core-qnGetTokenMetadataByContractAddress",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "821a9de4f39f64ea0f5ac2da3672977b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"qn_getTokenMetadataByContractAddress\",\"params\":[{\"contract\":\"0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0\"}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 267,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":{\"name\":\"Matic Token\",\"symbol\":\"MATIC\",\"contractAddress\":\"0x7d1afa7b718fb893db30a3abc0cfc608aacfebb0\",\"decimals\":\"18\",\"genesisBlock\":\"7605604\",\"genesisTransaction\":\"0x730627aaf76922ef8a46fcf511f088c4f613872a5e4821d382f28511b15e58d1\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "27031137c48ca740-55b8367a9c1f640e"
            },
            {
              "name": "x-node-id",
              "value": "ethereum_mainnet_iad"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 263,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
