{
  "log": {
    "_recordingName": "query-transactionsByHash-not-found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "65e3639dcbdc66238aea22637f2d9f70",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk",
              "value": "js-sdk"
            },
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk-version",
              "value": "1.0.0-beta.1"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"EthMainnetTransactionsByHash\",\"query\":\"query EthMainnetTransactionsByHash($hash: String!) {\\n  ethereum {\\n    ...TransactionsByHash\\n    __typename\\n  }\\n}\\nfragment TransactionsNode on Transaction {\\n  __typename\\n  blockNumber\\n  blockTimestamp\\n  contractAddress\\n  fromAddress\\n  cumulativeGasUsed\\n  effectiveGasPrice\\n  gas\\n  gasPrice\\n  gasUsed\\n  hash\\n  maxFeePerGas\\n  maxPriorityFeePerGas\\n  toAddress\\n  type\\n  input\\n  transactionIndex\\n  value\\n}\\nfragment TransactionsByHash on EVMSchemaType {\\n  transaction(hash: $hash) {\\n    ...TransactionsNode\\n    __typename\\n  }\\n  __typename\\n}\",\"variables\":{\"hash\":\"0x38c0807ee8291ed5a2089ed5a94f816f72b3180150eff8f6cf389aaaaaaaaaaa\"}}"
          },
          "queryString": [],
          "url": "https://api.quicknode.com/graphql"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json",
            "size": 123,
            "text": "[\"H4sIAAAAAAAA/w==\",\"qlZKSSxJVLKqVkotyUgtSi3NBbFLihLzihOTSzLz85Ss8kpzcnSU4uNLKgtS8xJzU5WslFzDfIOTM1JzE0MqC1KVamtrAQAAAP//\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-rpmlimit",
              "value": "230"
            },
            {
              "name": "x-ratelimit-rpmremaining",
              "value": "106"
            },
            {
              "name": "x-ratelimit-rpmreset",
              "value": "1687387264"
            },
            {
              "name": "x-ratelimit-rpslimit",
              "value": "20"
            },
            {
              "name": "x-ratelimit-rpsremaining",
              "value": "2"
            },
            {
              "name": "x-ratelimit-rpsreset",
              "value": "1687387240"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 134,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
