{
  "log": {
    "_recordingName": "core-qnGetTokenMetadataBySymbol-pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "524219d2d0534ef315571de8bcc06b00",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"qn_getTokenMetadataBySymbol\",\"params\":[{\"symbol\":\"WETH\",\"page\":1,\"perPage\":1}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 322,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"tokens\":[{\"name\":\"WETH\",\"symbol\":\"WETH\",\"contractAddress\":\"0x526f0603a845e4c324d5c40888f109f1c3633828\",\"decimals\":\"18\",\"genesisBlock\":\"17447077\",\"genesisTransaction\":\"0x5a741eae0996c754b9c57ed0c4bff266360ae5ffb50420e1ac56b9ee1c0f50d5\"}],\"totalPages\":122,\"pageNumber\":1,\"totalItems\":122}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "95ef0e23"
            },
            {
              "name": "x-node-id",
              "value": "08777362-575c-4584-aa42-4f09eb19af92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 209,
      },
      {
        "_id": "c26c8b86f9b960346b376d3471f5687f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"qn_getTokenMetadataBySymbol\",\"params\[...]
