{
  "log": {
    "_recordingName": "core-qnFetchNFTs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d46c032109914d7e1de8374e560051c0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"qn_fetchNFTs\",\"params\":[{\"wallet\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"perPage\":2}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1185,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":{\"owner\":\"0xd10e24685c7cdd3cd3baaa86b09c92be28c834b6\",\"ensName\":null,\"assets\":[{\"collectionName\":\"LogicBots\",\"collectionTokenId\":\"292\",\"collectionAddress\":\"0x0447433bd197f03be984a6053241ae8d347c5539\",\"name\":\"307\",\"description\":\"RobotADay  \\nLogic_Bot 307  \\n2023/5/29\\n\\n\\\"Strange Attractor\\\"  \\nInspired by Track 5 from \\\"Fractal Canyons\\\" by LogicBeach  \\n https://open.spotify.com/album/5eoRkx0N4gzc7QlzuD8fAk?si=ozuHUYvlSzmAPpdOdIhiEA\",\"imageUrl\":\"https://arweave.net/bnHxrwiCsP6HFLNW3XkEya_YvkPcD4usoFd3kb2zL5Q\",\"traits\":[{\"trait_type\":\"Artist\",\"value\":\"logicbeach\"}],\"chain\":\"ETH\",\"network\":\"MAINNET\"},{\"collectionName\":\"APE Mysterybox NFT\",\"collectionTokenId\":\"1\",\"collectionAddress\":\"0x2c4e64832208db7dc0a416a2bc46428ed9de6e1f\",\"name\":\"APE Mysterybox NFT\",\"description\":\"If you received this NFT you are the lucky owner of a APE Mysterybox NFT! Holders of the APE Mysterybox NFT can exchange this for APE rewards. For more information visit: https://apy-apecoin.com\",\"imageUrl\":\"https://ipfs.io/ipfs/QmQKR5TTq3honjFZNHHVGidwsPB7vAv59DYfWqzDsZZNfm\",\"traits\":[],\"chain\":\"ETH\",\"network\":\"MAINNET\"}],\"totalPages\":43,\"totalItems\":85,\"pageNumber\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "27031137c48ca740-55b8367a9c1f640e"
            },
            {
              "name": "x-node-id",
              "value": "ethereum_mainnet_iad"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 858,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
