{
  "log": {
    "_recordingName": "core-qnVerifyNFTsOwner",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "98ae9643efa9b5acfa8a37bef5f64d0d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"qn_verifyNFTsOwner\",\"params\":[{\"wallet\":\"0x91b51c173a4bdaa1a60e234fc3f705a16d228740\",\"contracts\":[\"0x2106c00ac7da0a3430ae667879139e832307aeaa:3643\",\"0xd07dc4262bcdbf85190c01c996b4c06a461d2430:133803\"]}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 201,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":{\"owner\":\"0x91b51c173a4bdaa1a60e234fc3f705a16d228740\",\"assets\":[\"0x2106c00ac7da0a3430ae667879139e832307aeaa:3643\",\"0xd07dc4262bcdbf85190c01c996b4c06a461d2430:133803\"]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "95ef0e23"
            },
            {
              "name": "x-node-id",
              "value": "08777362-575c-4584-aa42-4f09eb19af92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 467,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
