{
  "log": {
    "_recordingName": "solana-client-fetchEstimatePriorityFees",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e6e566cc324d0db8ff98c9b15abbb496",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"method\":\"qn_estimatePriorityFees\",\"params\":{},\"id\":1,\"jsonrpc\":\"2.0\"}"
          },
          "queryString": [],
          "url": "https://alien-lingering-fire.solana-mainnet.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 696,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":{\"context\":{\"slot\":255150582},\"per_compute_unit\":{\"extreme\":630734,\"high\":119250,\"low\":10714,\"medium\":35714,\"percentiles\":{\"10\":714,\"100\":2000000000,\"15\":1048,\"20\":2000,\"25\":2718,\"30\":4895,\"35\":6948,\"40\":10714,\"45\":13133,\"5\":100,\"50\":19667,\"55\":25541,\"60\":35714,\"65\":50000,\"70\":66918,\"75\":90000,\"80\":119250,\"85\":183005,\"90\":265586,\"95\":630734}},\"per_transaction\":{\"extreme\":886796,\"high\":245714,\"low\":28242,\"medium\":95010,\"percentiles\":{\"10\":700,\"100\":2000000000,\"15\":1303,\"20\":3126,\"25\":8571,\"30\":12000,\"35\":20000,\"40\":28242,\"45\":40225,\"5\":0,\"50\":50000,\"55\":75019,\"60\":95010,\"65\":110000,\"70\":140214,\"75\":180511,\"80\":245714,\"85\":265450,\"90\":296041,\"95\":886796}}},\"id\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "bdc3c6b0fcc2f18f"
            },
            {
              "name": "x-node-id",
              "value": "solana_solana-mainnet_jfk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 871,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
