{
  "log": {
    "_recordingName": "core-qnGetWalletTokenTransactions",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2e191f4d33cca5275b3001f5017ad0f7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"qn_getWalletTokenTransactions\",\"params\":[{\"address\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"contract\":\"0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2\",\"perPage\":1}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro/e868a8dce35b090dd355be9cba7632fb47b96e2f/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 678,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":{\"paginatedItems\":[{\"name\":\"Wrapped Ether\",\"symbol\":\"WETH\",\"decimals\":\"18\",\"address\":\"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\",\"quantityIn\":\"0\",\"quantityOut\":\"39750000000000000\",\"blockNumber\":\"16443123\",\"transactionHash\":\"0xea0103e8e6deeed812e81ff81b384faa04bb173c759b08bfa8fae89c9026d059\",\"timestamp\":\"2023-01-19T20:05:35.000Z\",\"totalBalance\":\"-39750000000000000\"}],\"token\":{\"address\":\"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\",\"genesisBlock\":null,\"genesisTransaction\":null,\"name\":\"Wrapped Ether\",\"symbol\":\"WETH\",\"decimals\":\"18\",\"contractAddress\":\"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2\"},\"totalPages\":3,\"totalItems\":3,\"pageNumber\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "95ef0e23"
            },
            {
              "name": "x-node-id",
              "value": "08777362-575c-4584-aa42-4f09eb19af92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 418,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
