{
  "log": {
    "_recordingName": "solana-client-basic-function",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "550dce128d20098f32afe7eb6ab6d1df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "solana-client",
              "value": "js/0.0.0-development"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"method\":\"getSlot\",\"jsonrpc\":\"2.0\",\"params\":[],\"id\":\"0ec87bf3-c63d-4b19-9318-deea4fcea371\"}"
          },
          "queryString": [],
          "url": "https://alien-lingering-fire.solana-mainnet.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 80,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":\"0ec87bf3-c63d-4b19-9318-deea4fcea371\",\"result\":379631384}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-node-id",
              "value": "solana_solana-mainnet_jfk"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
