{
  "log": {
    "_recordingName": "core-qnGetTransfersByNFT",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fc395eeaacffaa1db4de20ade8526399",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"qn_getTransfersByNFT\",\"params\":[{\"collection\":\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\",\"collectionTokenId\":\"1\"}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro/e868a8dce35b090dd355be9cba7632fb47b96e2f/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 391,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":{\"collection\":\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\",\"transfers\":[{\"blockNumber\":13148789,\"date\":\"2021-09-02T21:40:27.000Z\",\"from\":\"0x0000000000000000000000000000000000000000\",\"to\":\"0xb3cfbf8dc8f5d2f6607d8d8e251f7aae62a5d10a\",\"txHash\":\"0xe46fff4f7353c6c9a07c2bbf9eb89733237c62ec037c7dfe77947cd5e94aad90\"}],\"totalPages\":1,\"pageNumber\":1,\"totalItems\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "95ef0e23"
            },
            {
              "name": "x-node-id",
              "value": "08777362-575c-4584-aa42-4f09eb19af92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 729,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
