{
  "log": {
    "_recordingName": "core-qnGetWalletTokenBalance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4192b9b29e8fbcfa3ad960b2ff903a43",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"qn_getWalletTokenBalance\",\"params\":[{\"wallet\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"contracts\":[\"0x1f9840a85d5af5bf1d1762f925bdaddc4201f984\"],\"perPage\":1}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro/e868a8dce35b090dd355be9cba7632fb47b96e2f/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 288,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"result\":[{\"quantityIn\":\"38991442340000000000\",\"quantityOut\":\"0\",\"name\":\"Uniswap\",\"symbol\":\"UNI\",\"decimals\":\"18\",\"address\":\"0x1f9840a85d5af5bf1d1762f925bdaddc4201f984\",\"totalBalance\":\"38991442340000000000\"}],\"totalItems\":1,\"totalPages\":1,\"pageNumber\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "95ef0e23"
            },
            {
              "name": "x-node-id",
              "value": "08777362-575c-4584-aa42-4f09eb19af92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 271,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
