{
  "log": {
    "_recordingName": "query-getEventsByContract-base",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dd15ba11d814dfb55723633a6df48365",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk",
              "value": "js-sdk"
            },
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk-version",
              "value": "1.0.0-beta.1"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"EthereumMainnetEventsByContract\",\"query\":\"query EthereumMainnetEventsByContract($contractAddress: String!, $filter: TokenEventsFilterInput, $before: String, $after: String, $first: Int) {\\n  ethereum {\\n    ...EventsByContract\\n    __typename\\n  }\\n}\\nfragment TokenEventInfo on TokenEvent {\\n  __typename\\n  blockNumber\\n  fromAddress\\n  timestamp\\n  toAddress\\n  transactionHash\\n  transferIndex\\n  type\\n  ... on TokenBurnEvent {\\n    tokenId\\n    tokenQuantity\\n    __typename\\n  }\\n  ... on TokenTransferEvent {\\n    tokenId\\n    contractAddress\\n    tokenQuantity\\n    __typename\\n  }\\n  ... on TokenMintEvent {\\n    tokenQuantity\\n    __typename\\n  }\\n  ... on TokenSaleEvent {\\n    marketplace\\n    receivedTokenContractAddress\\n    receivedTokenId\\n    sentTokenId\\n    __typename\\n  }\\n}\\nfragment Pagination on PageInfo {\\n  endCursor\\n  hasNextPage\\n  hasPreviousPage\\n  startCursor\\n  __typename\\n}\\nfragment EventsByContract on EVMSchemaType {\\n  contract(contractAddress: $contractAddress) {\\n    tokenEvents(filter: $filter, first: $first, before: $before, after: $after) {\\n      edges {\\n        node {\\n          ...TokenEventInfo\\n          __typename\\n        }\\n        __typename\\n      }\\n      pageInfo {\\n        ...Pagination\\n        __typename\\n      }\\n      __typename\\n    }\\n    __typename\\n  }\\n  __typename\\n}\",\"variables\":{\"contractAddress\":\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\",\"first\":2}}"
          },
          "queryString": [],
          "url": "https://api.quicknode.com/graphql"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json",
            "size": 803,
            "text": "[\"H4sIAAAAAAAA/w==\",\"rJNPb+NGDMW/y5y1BYfzX7dF4G19iJHdCDmkKAJqhmM7iaRAGqcOAn/3Qm7dpE3SP8DqRFF8D3z8Qc8iUSFRPwsuGx551811HPoyUixzXYY77heP3JfpOJbWPIn652fRD4nnzs1NeXrgnjoWtWjm6Wakfso8HlWiEu39EO9Wu67lUdRSSe+dhUrkceg+pzTyNIlawF5CJhml9xwpGK1lIG+kxByckcZkJx0lzyQqUbYdT4W6B1ELBJSfIHyC0ICsTai1+gEAruex4bU/KGydBmODkVoppR0EcJaM0wZDToAoJSmehXMCimU79D/RtDnK0ScOHlF7kBiIQwjM2Ppkg7dglXGsU6slWQ2mjc5xy/Orj9Yrg3iyzTwu+8R7UaOHSszHmw/37fPq8svi23HrO+6XSdQSrar+hPE6CkqwEYCiSwSktAJia513QarAXqECR[...]
