{
  "log": {
    "_recordingName": "query-getEventsByContract-filter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b77047115879a8d09e6883f0fed88355",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk",
              "value": "js-sdk"
            },
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk-version",
              "value": "1.0.0-beta.1"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"EthereumMainnetEventsByContract\",\"query\":\"query EthereumMainnetEventsByContract($contractAddress: String!, $filter: TokenEventsFilterInput, $before: String, $after: String, $first: Int) {\\n  ethereum {\\n    ...EventsByContract\\n    __typename\\n  }\\n}\\nfragment TokenEventInfo on TokenEvent {\\n  __typename\\n  blockNumber\\n  fromAddress\\n  timestamp\\n  toAddress\\n  transactionHash\\n  transferIndex\\n  type\\n  ... on TokenBurnEvent {\\n    tokenId\\n    tokenQuantity\\n    __typename\\n  }\\n  ... on TokenTransferEvent {\\n    tokenId\\n    contractAddress\\n    tokenQuantity\\n    __typename\\n  }\\n  ... on TokenMintEvent {\\n    tokenQuantity\\n    __typename\\n  }\\n  ... on TokenSaleEvent {\\n    marketplace\\n    receivedTokenContractAddress\\n    receivedTokenId\\n    sentTokenId\\n    __typename\\n  }\\n}\\nfragment Pagination on PageInfo {\\n  endCursor\\n  hasNextPage\\n  hasPreviousPage\\n  startCursor\\n  __typename\\n}\\nfragment EventsByContract on EVMSchemaType {\\n  contract(contractAddress: $contractAddress) {\\n    __typename\\n    tokenEvents(filter: $filter, first: $first, before: $before, after: $after) {\\n      edges {\\n        node {\\n          ...TokenEventInfo\\n          __typename\\n        }\\n        __typename\\n      }\\n      pageInfo {\\n        ...Pagination\\n        __typename\\n      }\\n      __typename\\n    }\\n  }\\n  __typename\\n}\",\"variables\":{\"contractAddress\":\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\",\"filter\":{\"fromAddress\":{\"eq\":\"0x10fa1c188eca954419a85112f975155f717ad8ea\"},\"type\":{\"in\":[\"TRANSFER\"]}},\"first\":2}}"
          },
          "queryString": [],
          "url": "https://api.quicknode.com/graphql"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json",
            "size": 783,
            "text": "[\"H4sIAAAAAAAA/w==\",\"zJNPT+NIEMW/S5/Nqqr6v28IhV0OG/En4sBqhcru6iSAbWQ7bBDKd185o8wwMCM0mjnMrd2u9/Re/dQvKvHIqnxRMq6kl00zneuuHXuux+l8ezs+P0rLjahSzU8XJ4d/hRq7e2lnT9KOw94hLWVQ5T8vqu2SvNMupulFz+2Qpd+rVKGqh66+n2+aSnpVosYQvINC5b5rjlPqZRhUqWCLkBlrDEFqjtYYjBwsIuXoLVqbPXpOQXgKtW5kGLl5VKUiIDyCeARxAVjaWBr9BwDc7LO/9gdNlTdgXbRotNbGQwTv2HpjKeYERIisZRJODbge1137Fw+rvZxCkhiITACkyBJjFKEqJBeDA6etF5Mqg+wM2Kr2XiqZPkPtgrZEB9ss/VmbZKtKClCoaXnT4i6P51ens8vDxs+SKpGcLj5zel2FEFwNwLVPDKyNBhbnfPARd[...]
