{
  "log": {
    "_recordingName": "core-qnFetchNFTCollectionDetails",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d648265c23c652284009e756d809874a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"qn_fetchNFTCollectionDetails\",\"params\":[{\"contracts\":[\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\"]}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro/e868a8dce35b090dd355be9cba7632fb47b96e2f/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 332,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":[{\"name\":\"Loopy Donuts\",\"address\":\"0x2106c00ac7da0a3430ae667879139e832307aeaa\",\"description\":\"Loopy Donuts\",\"erc1155\":false,\"erc721\":true,\"totalSupply\":10000,\"circulatingSupply\":9988,\"genesisBlock\":13145256,\"genesisTransaction\":\"0xcd0d897674123c1859c406b4e14f8a1a6dd5b8b8161bc7563d012e950a26301d\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "95ef0e23"
            },
            {
              "name": "x-node-id",
              "value": "08777362-575c-4584-aa42-4f09eb19af92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 197,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
