{
  "log": {
    "_recordingName": "core-qnFetchNFTs-walletAndContracts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b388892bf2a8f7983e2aae4af56d4272",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"qn_fetchNFTs\",\"params\":[{\"wallet\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"contracts\":[\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\"],\"omitFields\":[\"traits\"],\"perPage\":2}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 805,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"owner\":\"0xd10e24685c7cdd3cd3baaa86b09c92be28c834b6\",\"ensName\":null,\"assets\":[{\"collectionName\":\"Loopy Donuts\",\"collectionTokenId\":\"3734\",\"collectionAddress\":\"0x2106c00ac7da0a3430ae667879139e832307aeaa\",\"name\":\"Loopy Donut #3734\",\"description\":\"\",\"imageUrl\":\"https://quicknode-content.quicknode-ipfs.com/ipfs/QmSNmVFTJv6cG9M8ZRU8T9F4Kz9HHxmV85ssGP5W8ZsTPa/3734.png\",\"chain\":\"ETH\",\"network\":\"MAINNET\"},{\"collectionName\":\"Loopy Donuts\",\"collectionTokenId\":\"3972\",\"collectionAddress\":\"0x2106c00ac7da0a3430ae667879139e832307aeaa\",\"name\":\"Loopy Donut #3972\",\"description\":\"\",\"imageUrl\":\"https://quicknode-content.quicknode-ipfs.com/ipfs/QmSNmVFTJv6cG9M8ZRU8T9F4Kz9HHxmV85ssGP5W8ZsTPa/3972.png\",\"chain\":\"ETH\",\"network\":\"MAINNET\"}],\"totalPages\":2,\"totalItems\":3,\"pageNumber\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "27031137c48ca740-55b8367a9c1f640e"
            },
            {
              "name": "x-node-id",
              "value": "ethereum_mainnet_iad"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 331,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
