{
  "log": {
    "_recordingName": "query-getNFTsByContractAddress-base",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7398b083391229afcb51eb74b8ab2a08",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk",
              "value": "js-sdk"
            },
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk-version",
              "value": "1.0.0-beta.1"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"EthMainnetWalletNFTsByContractAddress\",\"query\":\"query EthMainnetWalletNFTsByContractAddress($contractAddress: String!, $before: String, $after: String, $first: Int) {\\n  ethereum {\\n    ...NftsByContractAddressFragment\\n    __typename\\n  }\\n}\\nfragment Pagination on PageInfo {\\n  endCursor\\n  hasNextPage\\n  hasPreviousPage\\n  startCursor\\n  __typename\\n}\\nfragment ERC1155NFTNode on ERC1155NFT {\\n  __typename\\n  animationUrl\\n  collectionSlug\\n  contractAddress\\n  description\\n  externalUrl\\n  metadata\\n  name\\n  tokenI[...]
