{
  "log": {
    "_recordingName": "core-qnGetWalletTokenBalance-withContracts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "682a0972e80d16322a07e1bc5e558b0e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-qn-sdk-version",
              "value": "2.4.2"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"qn_getWalletTokenBalance\",\"params\":[{\"wallet\":\"0xD10E24685c7CDD3cd3BaAA86b09C92Be28c834B6\",\"contracts\":[\"0x1f9840a85d5af5bf1d1762f925bdaddc4201f984\"],\"perPage\":1}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 403,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"address\":\"0xd10e24685c7cdd3cd3baaa86b09c92be28c834b6\",\"ensName\":null,\"result\":[{\"name\":\"Uniswap\",\"symbol\":\"UNI\",\"decimals\":\"18\",\"address\":\"0x1f9840a85d5af5bf1d1762f925bdaddc4201f984\",\"quantityIn\":\"38991542340000000000\",\"quantityOut\":\"0\",\"totalBalance\":\"38991542340000000000\"}],\"nativeTokenBalance\":\"41.409291790342283658\",\"totalItems\":1,\"totalPages\":1,\"pageNumber\":1}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "27031137c48ca740-55b8367a9c1f640e"
            },
            {
              "name": "x-node-id",
              "value": "ethereum_mainnet_iad"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 145,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
