{
  "log": {
    "_recordingName": "verifyNFTOwnerSingleNFTTrue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4e2b9c306baab552bee2bb4ada7397c0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk",
              "value": "js-sdk"
            },
            {
              "_fromType": "array",
              "name": "x-quicknode-sdk-version",
              "value": "1.0.0-beta.1"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"EthMainnetVerifyOwnershipByENS\",\"query\":\"query EthMainnetVerifyOwnershipByENS($ensName: String!, $filter: WalletNFTsFilterInput) {\\n  ethereum {\\n    ...VerifyOwnershipInfoByENS\\n    __typename\\n  }\\n}\\nfragment VerifyOwnershipNFTDetails on WalletNFT {\\n  nft {\\n    contractAddress\\n    tokenId\\n    __typename\\n  }\\n  __typename\\n}\\nfragment VerifyOwnershipInfoByENS on EVMSchemaType {\\n  walletByENS(ensName: $ensName) {\\n    walletNFTs(filter: $filter) {\\n      edges {\\n        node {\\n          ...VerifyOwnershipNFTDetails\\n          __typename\\n        }\\n        __typename\\n      }\\n      __typename\\n    }\\n    __typename\\n  }\\n  __typename\\n}\",\"variables\":{\"ensName\":\"quicknode.eth\",\"filter\":{\"contractTokens\":[{\"contractAddress\":\"0x2106C00Ac7dA0A3430aE667879139E832307AeAa\"}]}}}"
          },
          "queryString": [],
          "url": "https://api.quicknode.com/graphql"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json",
            "size": 311,
            "text": "[\"H4sIAAAAAAAA/w==\",\"1I7BSgMxEIbfZc57yCZ10+SmJQUP7sEuehApQzK2YjcpmxFdlry7rCCCUvDSg6eZ+f+P4ZsgICPYCYj3NNBrP+9veDgQX42u3Xyf7brLn2DYUQb7MEFMgeYkPvE8fIo8oOfLEAbKGSyId1mLxguBXgcUqBZKIDWNXmpTK0NLJZXQSIhQAacXitcBrDJaVrDd8nikiD2BBXe70rJu1x2UH839l9vpJq9SjOT5OUUXdgSlOpu6MfLin6orrRZnVX/8A3ni3a/Y3d1s/J567MYjQSnlAwAA//8=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-rpmlimit",
              "value": "230"
            },
            {
              "name": "x-ratelimit-rpmremaining",
              "value": "228"
            },
            {
              "name": "x-ratelimit-rpmreset",
              "value": "1687435000"
            },
            {
              "name": "x-ratelimit-rpslimit",
              "value": "20"
            },
            {
              "name": "x-ratelimit-rpsremaining",
              "value": "18"
            },
            {
              "name": "x-ratelimit-rpsreset",
              "value": "1687434941"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 149,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
