{
  "log": {
    "_recordingName": "core-qnGetTokenMetadataBySymbol",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5a9b446b55077b802f0e4198152ea3a6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"method\":\"qn_getTokenMetadataBySymbol\",\"params\":[{\"symbol\":\"WETH\",\"perPage\":1}]}"
          },
          "queryString": [],
          "url": "https://green-bitter-firefly.quiknode.pro/e868a8dce35b090dd355be9cba7632fb47b96e2f/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 322,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":{\"tokens\":[{\"name\":\"WETH\",\"symbol\":\"WETH\",\"contractAddress\":\"0x526f0603a845e4c324d5c40888f109f1c3633828\",\"decimals\":\"18\",\"genesisBlock\":\"17447077\",\"genesisTransaction\":\"0x5a741eae0996c754b9c57ed0c4bff266360ae5ffb50420e1ac56b9ee1c0f50d5\"}],\"totalPages\":122,\"pageNumber\":1,\"totalItems\":122}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-host-id",
              "value": "95ef0e23"
            },
            {
              "name": "x-node-id",
              "value": "08777362-575c-4584-aa42-4f09eb19af92"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 259,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
